<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    {% block javascript %}{% endblock %}
  </head>
  <body style="background-color: black">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="{% url 'charecters:display_charecters' %}"
                >See all Charecters</a
              >
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'charecters:create_team' %}">
                Create a Team
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'charecters:create_charecter' %}"
                >Create a Charecter</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'dndDice:index' %}"
                >D&D Dice Roller</a
              >
            </li>
          </ul>
        </div>
      </nav>

      {% block content %} {% endblock content %}
    </div>
  </body>
</html>
