{% extends 'base.html' %} {% block content %}
<div style="font-family: fantasy;">
  <h1 style="margin:2vw; color:white; text-align: center;">Your Teams:</h1>

  <div class="row" style="margin:.5vw">
    {% for team in teams %}
    <div
      class="col"
      style="position: inherit; display: flex; flex-direction: column; background-color: white "
    >
      <h2>Team Name: {{ team.team_name }}</h2>
      <br />
      <h2>Charecters in Team:</h2>
      <br />
      {% for char in charecters %}
      <b>{{ char}}</b>
      <br />
      {% endfor %}
      <br />
      <a
        class="btn btn-sm btn-info"
        href="{% url 'charecters:update_team' team.id%}"
        >Edit Team Name</a
      >
      <a
        class="btn btn-sm btn-danger"
        href="{% url 'charecters:delete_team' team.id%}"
        >Delete Team</a
      >
      <br />
      <br />
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
