{% extends 'base.html' %} {% block content %}
<div>
  <a href="{% url 'charecters:create_team' %}">Create a Team</a>
  <h1>Your Teams:</h1>
  {% for team in teams %}
  <b>{{ team.team_name }}</b>
  {% for char in charecters %}
  <b>{{ char.charecter_name }}</b>
  <br />
  {% endfor %}
  <a
    class="btn btn-sm btn-info"
    href="{% url 'charecters:update_team' team.id%}"
    >Edit Team Name</a
  >
  <a
    class="btn btn-sm btn-danger"
    href="{% url 'charecters:delete_team' team.id%}"
    >Delete Team</a
  >
  <br />
  <br />
  {% endfor %}
</div>
{% endblock %}
